node_modules/
.rpt2_cache/
*.tgz
/coverage/
/umd/
/lib/
/src/*.js
/src/*.map
/src/test/*.map
/src/test/*.d.ts
/tools/lib/
/tools/config.json
/tools/coverage/
/tools/groonga/
/tools/report/
/test/lib/
/test/grntest/
/report.*
tmp.*
