/.*/
!/.github/
node_modules/
*.tgz
/tools/lib/
/tools/config.json
/tools/coverage/
/tools/groonga/
/tools/report/
/tools/outputs/
/tools/temp/
/test/lib/
/test/grntest/
/test/typecheck/
/report.*
tmp.*
